<h2 id="desc" class="list">Mnémotix Generic Model: Description <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<div class="markdown">
The MNX "generic" ontology is illustrated by the following schema.
</div>
<img style="width:100%;" src="ontologie-mnx.svg" />
<div class="markdown">
The MNX "project" ontology fragment is illustrated by the following schema.
</div>
<img style="width:100%;" src="ontologie-mnx-project.svg" />
<div class="markdown">
The MNX "analytix" ontology fragment is illustrated by the following schema.
</div>
<img style="width:100%;" src="ontologie-mnx-analytix.svg" />
